@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
.step1_main_heading{
   color:  rgb(0, 79, 120);
   font-size: 2rem;
}
#dob-step1{
 border-left: 3px solid rgb(27, 176, 219) !important;
 border: 1px solid black;
 font-size: 20px;
}
#dob-step1:focus{
    outline: 0 none;
    border-color: none;
    box-shadow: none;
}
.btnleft{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    height: 50px;
    background-color: #e6f9ff !important;
}
.btnright{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    height: 50px;
    background-color: #e6f9ff !important;
}
.activebtn:focus,.activebtn{
    outline: 0 none;
    border: 3px solid #1ba7da !important;
    box-shadow: none;
}
.form-control{
    background: none;
}
.submitstep1,.submitstep1:focus{
    background-color: #1bb0db;
    color: white;
    font-weight: 700;
    height: 50px;
    max-width: 250px;
}
.maxwidth500{
    max-width: 500px;
}

::-webkit-datetime-edit-year-field:not([aria-valuenow]),
::-webkit-datetime-edit-month-field:not([aria-valuenow]),
::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
    color: transparent;
}